.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
    color: white;
}

.mdl-card {
    height: 100%;
}

.mdl-card__supporting-text {
    height: 100px;
    overflow: visible;
}

@media only screen and (max-device-width: 1024px) {
    .mdl-card__supporting-text {
        height: 100%;
    }
}

.mdl-card__media {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    overflow: hidden;
    background-color: white;
}

.mdl-card__media > img {
    width: 100%;
}

.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 50px;
}

.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}

.layout-transparent {
    background: url('../images/back.jpg') center / cover;
}

.contacts {
    list-style: none;
}